@model Infra.Services.PagedListClient<Data.ViewModels.RatingAndReviewVM>
@using X.PagedList.Mvc.Core

@if (Model.Results.TotalItemCount > 0)
{
    <div class="border-bottom pb-4 mb-4">
        <div class="row align-items-center">
            <div class="col-sm-6 mb-2 mb-sm-0">
                <h3 class="mb-0">Reviews</h3>
            </div>
           
        </div>
    </div>
    
    <ul class="list-comment list-comment-divider mb-7">
        @foreach (var item in Model.Results)
        {
            var ratingNreview = item.RatingAndReview;
            
            <!-- Item -->
            <li class="list-comment-item">
                <div class="d-flex gap-1 mb-3">
                    @for(int i = 0; i < ratingNreview.Rating; i++)
                    {
                        <img src="~/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                    }
                    
                </div>

                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-sm avatar-circle" src="@item.CustomerPhotoUrl" alt="Image Description">
                    </div>

                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">@item.CustomerName</h5>
                            <span class="d-block small text-muted">@ratingNreview.CreatedAt</span>
                        </div>
                    </div>
                </div>
                <!-- End Media -->

                <div class="mb-5">
                    <p>@ratingNreview.Review</p>
                </div>

            </li>
            <!-- End Item -->
        }
    </ul>   

    <div class="row mt-35">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="pagination-bx text-center">
                @Html.PagedListPager(Model.Results, page => Url.Action("GetList", "RatingAndReview",
                         new { page }), X.PagedList.Mvc.Core.PagedListRenderOptions.ClassicPlusFirstAndLast)

            </div>
        </div>

    </div>
}
else
{
    //not found text
}