@model Infra.Services.PagedListClient<Data.ViewModels.BookingVM>
@using X.PagedList.Mvc.Core

@if (Model.Results.TotalItemCount > 0)
{
    <div class="mb-5 mb-sm-5">
        @foreach (var item in Model.Results)
        {
            var res = item.Restaurant;
            var booking = item.Booking;
            var schedule = item.Schedule;
           
            <div class="border rounded mt-3 p-3">
                <div class="col-12 col-md-3">
                    <div class="mb-3 mb-md-0">
                        <img class="img-fluid" src="@res.ProfilePhotoUrl" alt="Image" style="width: 100%; height: 150px; object-fit: cover; border-radius: 4px;" />
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                <h4>@res.Name</h4>
                                <span>Booking Code : @booking.BookingCode</span>
                            </div>
                            <span class="badge bg-soft-success text-success">@booking.Status</span>
                        </div>
                        <div class="d-flex gap-3">
                            <span class="badge bg-soft-primary text-primary">@booking.BookingDate</span>
                            <span class="badge bg-soft-primary text-primary">@schedule.StartTime - @schedule.EndTime</span>
                            <span class="badge bg-soft-primary text-primary">@booking.NoOfTable table(s)</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-wrap gap-3">
                                <span>@booking.CustomerName</span>
                                <span>@booking.CustomerEmail</span>
                                <span>@booking.CustomerPhone</span>
                            </div>
                            @if(item.CanCancel == true)
                            {
                                <div>
                                    <button type="button" class="btn btn-sm btn-white" data-bs-toggle="modal" data-bs-target="#bookingCancelModal" data-id="@booking.Id" onclick="CancelBooking(this)">Cancel</button>
                                </div>
                            }
                            
                    
                        </div>
                    </div>
           
                </div>
       
            </div>
            
        }
     </div>
    <div class="row mt-35">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="pagination-bx text-center">
                @Html.PagedListPager(Model.Results, page => Url.Action("GetList", "Booking",
                            new { page }), X.PagedList.Mvc.Core.PagedListRenderOptions.ClassicPlusFirstAndLast)

            </div>
        </div>

    </div>
    
}
    
   

